body{
  font-family: Verdana,Geneva,Arial,Sans-serif; 
  font-size: 13px; color: #333;
  padding: 0px;
  margin: 0px;
  background-color: #bbb;
  background-image: -webkit-linear-gradient(top, #888 0%, #bbb 250px);
  padding-bottom: 30px;}
.codesection{
  padding: 2px 12px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: #fff;
  font-family: monospace;
  font-size: 12px; }
.post{
  padding: 8px 20px;
  margin-left: 72px;
  margin-right: 72px;
  margin-top: 6px;
  margin-bottom: 6px;
  max-width: 720px;
  background-color: #fff;
  border-radius: 10px;}
.posttitle{
  text-decoration: none;
  font-size: 24px;
  font-weight: bold; }
.posttitle a{
  text-decoration: none; }
a{
  color: #000000 }
.pagetitle{
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  padding: 35px;
  padding-left: 92px;
  background-color: #fff; 
  color: #000; }
.pagetitle a{
  text-decoration: none; }
.authorname{
  font-size: 12px;
  color: #000;
  font-weight: normal; }
.dateheader{
  font-size: 11px;
  font-weight: bold;
  color: #333; }
h2{
  margin-top: 18px;
  font-size: 18px; }
